input[type="text"],
textarea
{
  display: block;
  width: 800px;
  padding: 10px 20px;
  margin: 20px 0 20px 40px;
}
button{
  margin: 10px 0 20px 40px;
  padding: 5px 10px;
}
h2{
  margin: 20px 0px 20px 40px;
  font-size: 20px;
}
li.error{
  color:#e80303;
  margin-left: 3%;
}