doctype html
html
  head 
    title My Blog
    style 
      include ../css/reset.css
      include ../css/style.css
      include ../css/contact.css
  body 
    include ./header.pug
    h2=contactContent
    ul 
      li Phone number : +95 459375827
      li mail : johndoe@gmail.com