doctype html
html
  head 
    title My Blog
    style 
     
      include ../css/reset.css
      include ../css/style.css
      include ../css/home.css
  body 
    include ./header.pug
    h2="Something went wrong"