nav.nav.clearfix
      h1 
        a(href="/") MoviesHub
      ul.clearfix
        li
          a(href="/") Home 
        li
          a(href="/api/movies") Movies 
        li
          a(href="/contact") Contact